.App {
  text-align: center;
}

.App-header {
  background-color: #e0e0e0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.teams__form {
  margin-bottom: 20px;
  transform: translateX(-142%);
}

.teams__table {
  border: 2px solid blue;
  width: 800px;
  height: 200px;
  border-spacing: 0;
  border-collapse: collapse;
}

.teams__th {
  background-color: #c5c5c5;
}

.teams__td {
  text-align: center;
  border: 1px solid #c5c5c5;
}

.scores__form {
  display: flex;
}

.scores__list {
  display: flex;
}

.scores__input {
  width: 50px;
  margin: 0 5px;
}

.scores__name{
  margin: 0 50px; 
}

.scores__list--removed {
  display: none;
}